body{
    margin: 0;
    padding: 0;
}
.chbox input[type=checkbox]{
    color: blueviolet;
}
.news{
    background-color: rgb(221, 216, 216);
    height: 280px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px 10px 5px;
}
.css{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    height: 370px;
    width: 520px;
    padding: 10px;
}
.name{
    background-color: white;
    padding: 5px;
}
.name input[type=text]{
    width: 470px;
    height: 25px;
}
.but button{
    width: 470px;
    height: 25px;
    background-color: rgb(57, 138, 74);
    border: 0;
    color: white;
    padding: 2px;
}
.but{
    padding: 5px;
}